<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <script src="http://localhost:8080/socket.io/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/normalizr@3.6.2/dist/normalizr.browser.min.js"></script>
    <title>{{titulo}}</title>
</head>

<body class="body">
    <table>
        <tr class="tr1">
            <th class="th1">NOMBRE</th>
            <th class="th2">PRECIO</th>
            <th class="th3">FOTO</th>
        </tr>
    </table>
    <table id="products-container-r" class="table">
    </table>
    <script src="../js/main.js"></script>
</body>

</html>